body{
    background-color:#e6d9b9;

}
.soup-image {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.me1{
  font-size: 20px;
  text-align: center;
  padding: 10px;
  list-style-type: none;
  display: grid;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.me1:hover{
    background-color: burlywood;
}
button{
    padding-right: 10px;
}
.content {
    
    background-color: #4b2e1f; 
    height: 100%;    
    border-radius: 20px; 
    box-shadow: 0, 0, 10px, rgba(0, 0, 0, 0.5); 
     color: #e6d9b9;
    
}
       
.header{
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: space-evenly;
gap:10px;
}
.me1 a{
  text-decoration: none;
  color:#e6d9b9; 
}
#accordion {
    background-color:#4b2e1f; 
    color: #e6d9b9; 
    border-radius: 10px; 
    padding: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}
#accordion h3:hover{
    color:whitesmoke;
    text-underline-position: under;
}
#accordion h3 {
    cursor: pointer;
    margin: 0;
    padding: 10px;
    font-size: 1.2em;
    border-bottom: 1px solid #4b2e1f;
    background-color: #dd8254;

    color: #4b2e1f ;

}


.cards-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;

}
.food-card:hover {
    transform: scale(1.02);
}

.food-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
    padding: 15px;
    text-align: center;
}

.food-card img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
}


.food-card h3 {
    margin: 10px 0 5px;
    font-size: 20px;
    font-weight: bold;
}


.food-card p {
    font-size: 16px;
    color: rgb(70, 70, 70);
    margin-bottom: 10px;
}


.add-btn {
    background: rgb(237, 95, 47);
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.add-btn:hover {
    background: rgb(180, 30, 30);
}
 
