:root {
  /* Color Variables */
  --background-color-navbar: #492911;
  --background-color-body: #e6d9b9;
  --background-color-footer: #492911;
  --text-color-navbar: #e6d9b9;
  --text-color-footer: #e6d9b9;
  --text-color-body: #492911;

  /* Font Variables */
  --font-weight-header: 700;
  --font-weight-body: 400;
  --font-weight-footer: 400;
  --font-size-header: 18px;
  --font-size-body: 16px;
  --font-size-footer: 14px;
  --h1-font-size: 28px;
  --h2-font-size: 24px;
  --h3-font-size: 20px;
}

/* body and navbar css */
body {
  background-color: var(--background-color-body);
  color: var(--text-color-body);
}

.navbar1 {
  display: grid;
  position: sticky;
  top: 21px;
  grid-template-columns: 1fr 4fr 1fr;
  background-color: var(--background-color-navbar);
  border: 2px solid black;
  border-radius: 31px;
  width: 68rem;
  margin-left: 5rem;
  text-align: center;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  padding-left: 0px;
  padding-top: 15px;
}

ul li {
  text-decoration: none;
  list-style: none;
}

ul li a {
  text-decoration: none;
  list-style-type: none;
  color: var(--text-color-navbar);
  font-weight: var(--font-weight-header);
  font-style: var(--font-size-header);
}

/* main bar content css */
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#ico {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
}

#ico li {
  text-decoration: none;
  list-style: none;
}

#ico li a {
  text-decoration: none;
  list-style-type: none;
  color: var(--text-color-body);
}

.img1 {
  width: 300px;
  height: 200px;
  border-radius: 21px;
  box-shadow: 1px 3px 18px rgba(0, 0, 0, 0.9);
}

/* footer css */
.foot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--background-color-footer);
  box-shadow: 1px 3px 18px rgba(0, 0, 0, 0.9);
  border-radius: 15px;
  width: 78rem;
  height: fit-content;
  margin-top: 50px;
  text-align: center;
  color: var(--text-color-footer);
}

.pa {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
  padding: 0px 48px 12px 48px;
  color: var(--text-color-body);
}

.m1,
.m2,
.m3 {
  display: none;
}

#hem {
  height: 25rem;
  overflow-x: scroll;
}

#hem::-webkit-scrollbar {
  display: none;
  background: transparent;
}

/* end of index */

/* start of order */
.main_h1 {
  display: block;
  width: 100%;
  margin: 10px;

}

.main_h1 h1 {
  text-align: center;
  font-size: 30px;
  color: var(--background-color-body);
  line-height: 60px;
  box-shadow: 2px 2px 5px black;
  background-color: var(--background-color-footer);
  border-radius: 50px;
  padding: 5px 30px;
  margin: 31px 200px;
}

.main_form {
  width: 350px;
  margin: 0px auto;
  padding: 20px;
  background-color: var(--background-color-footer);
  border-radius: 12px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  text-align: left;
  font-family: Arial, sans-serif;
}

.main_form strong {
  display: inline-block;
  width: 120px;
  color: var(--background-color-body);
}

.main_form input {
  width: 180px;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #aaa;
  border-radius: 6px;
  outline: none;
}



.main_form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: var(--background-color-body);
  border: none;
  color: var(--background-color-navbar);
  font-size: 16px;
  margin-top: 10px;
  border-radius: 8px;
  cursor: pointer;
}

/* end of order */

/* end of index */
/*about styles*/
.about {
  text-align: justify;
  line-height: 20px;
  padding: 5px;
}

.restur {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  padding: 20px;
}

.restur img {
  width: 90%;
  height: 70vh;
  align-items: center;
  border-radius: 50px;
}

.about h1 {
  text-align: center;
  padding: 10px 5px;
}

.about h1 {
  display: inline-block;
  position: relative;
  font-size: 23px;
  cursor: pointer;
  align-content: center;
  top: 10px;
  color: var(--font-color-main);
  font-family: "Alan Sans", sans-serif;
}

.about h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  background-color: #007bff;
  transition: width 0.4s ease;
  /* smooth animation */
}

/* show underline on hover */
.about h1:hover::after {
  width: 100%;
}

/*end of about styles*/
/*contact pages styles*/
.contact_img {
  background-size: cover;
  width: 100%;
  height: 70vh;
}

.para {
  display: flex;
  flex-direction: row;
  gap: 270px;
  border: 2px solid #596366;
  border-radius: 20px;
  background-color: #596366;
  color: var(--background-color-body);
  text-align: center;
  padding: 30px;
}

/*end of contact styles*/

/* end of index */

/* reserve css */
.img2 {
  width: 48rem;
  height: 450px;
  border-radius: 15px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.9);
}

.reserve-form {
  background-color: var(--background-color-navbar);
  color: var(--text-color-navbar);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 355px;
  margin: auto;

}

.reserve-form input {
  display: inline-block;
  width: 200px;
  height: 24px;
  text-align: center;
}

.reserve-form label {
  display: inline-block;
  width: 8rem;
}

.tab1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.pa1 {
  background-color: var(--background-color-navbar);
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
  padding: 36px 52px 0PX 48PX;
  border-radius: 21px;
  color: var(--text-color-navbar);
}

.reserve-form button {
  background-color: var(--background-color-body);
  color: var(--text-color-body);
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: var(--font-weight-header);
  margin-left: 7rem;
}

/* end of reserve */

/* profile css */
.form-container {
  background-color: var(--background-color-navbar);
  color: var(--text-color-navbar);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: auto;

}

/* end of profile */

/*feedback page*/
.feedback-form-section {
  display: flex;
  justify-content: center;
  padding: 100px 20px;
  background: var(--background-color-body)
}

.feedback-card {
  width: 520px;
  background: var(--background-color-navbar);
  border-radius: 10px;
  padding: 35px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
}

.feedback-card h2 {
  text-align: center;
  font-size: 34px;
  margin-bottom: 5px;
  color: var(--text-color-navbar);
}

.subtext {
  text-align: center;
  margin-bottom: 25px;
  color: var(--text-color-navbar);
}

.feedback-card label {
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
  color: var(--text-color-navbar);
}

.feedback-card input,
.feedback-card textarea,
.feedback-card select {
  width: 90%;
  padding: 11px;
  border-radius: 6px;
  border: 1px solid #aaa;
  margin-bottom: 18px;
  font-size: 16px;
}

.feedback-card button {
  background: var(--background-color-body);
  padding: 14px;
  width: 100%;
  border: 0;
  border-radius: 30px;
  color: var(--text-color-body);
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}
.feedback-card button:hover{
  color: #eeead8;
  background-color: #97624a;
}