{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URBAN UMAMI</title>
    <link rel="stylesheet" href="{% static 'stylesheets/index.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/media.css' %}">
</head>

<body>
    <header>
        <nav class="navbar1">
            <div>
                <img src="{% static 'images/logo.jpg' %}" alt="Logo" width="80px" height="80px"
                    style="border-radius: 42px;">
            </div>
            <div class="navbar3">
                <ul>
                    <li><a href="{% url 'index' %}">URBAN UMAMI</a></li>
                    <li><a href="{% url 'menu' %}">MENU</a></li>
                    <li><a href="{% url 'order' %}">ORDERS</a></li>
                    <li><a href="{% url 'reserve' %}">RESERVE</a></li>
                    <li><a href="{% url 'about' %}">ABOUT-US</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="{% url 'profile' %}" style="position: relative; left: 60px;">LOGIN</a></li>
                </ul>
            </div>
        </nav> <br><br>
    </header>
    <div  class= "content">
        <div class="main">
            <div class="menu">
                <h2 style="text-align: center;">Categories</h2>
                <div class="me1"><li><a href="{% url 'indian' %}">Indian</a></li> </div>
                <div class="me1"><li><a href="{% url 'chinese' %}">Chinese</a></li></div>
                <div class="me1"><li><a href="{% url 'continental' %}">Continental</a></li></div>
            </div>
        
        
            <div class="menu-img"> 
                <img src="{% static 'images/indian1.jpg' %}" alt="">
            </div>
        </div>
    </div>
    
    
</body>
</html>