{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URBAN UMAMI</title>
    <link rel="stylesheet" href="{% static 'stylesheets/index.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/media.css' %}">
</head>
<body>
    <header>
        <nav class="navbar1">
            <div>
                <img src="{% static 'images/logo.jpg' %}" alt="Logo" width="80px" height="80px"
                    style="border-radius: 42px;">
            </div>
            <div class="navbar3">
                <ul>
                    <li><a href="{% url 'index' %}">URBAN UMAMI</a></li>
                    <li><a href="{% url 'menu' %}" >MENU</a></li>
                    <li><a href="{% url 'order' %}">ORDERS</a></li>
                    <li><a href="{% url 'reserve' %}">RESERVE</a></li>
                    <li><a href="{% url 'about' %}">ABOUT-US</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="{% url 'profile' %}" style="position: relative; left: 60px;">LOGIN</a></li>
                </ul>
            </div>
        </nav> 
    </header><br><br><br>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-container">
            <h2>User Profile</h2>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{ user.username }}" readonly><br><br>

            <label for="email">Password:</label>
            <input type="password" id="pass" name="password" value="{{ user.password }}" readonly><br><br>

            <button type="submit">submit</button>
        </div>
    </form>
</body>
</html>